.product-container {
  padding-top: 50px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.product-page-img {
  width: 250px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.product-title {
  margin: 0;
  margin-right: 20px;
}

.rating-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.rating-img {
  width: 25px;
  height: 25px;
}

.desc-title {
  margin: 0;
}

.desc-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.desc-item {
  padding: 5px 0;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 500px;
}
